<p-dialog [modal]="true"
          [header]="'product.detail' | translate"
          [draggable]="true"
          [(visible)]="showDetail"
          [style]="{ width: '70%', padding:'0px' }"
          [contentStyle]="{ 'background-color': '#f9f9f9' }"
          [styleClass]="'custom-dialog'"
          [closeOnEscape]="true"
          [dismissableMask]="true"
          [resizable]="true">
    <div class="col-12" >
        <generator-detail name='product' class="detail" [dataRow]="rowDetail"/>
    </div>
</p-dialog>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <generator-table (event)="onEvent($event)" name="product" [dataRows]="dataRows"
                        [mapping]="productMapping"></generator-table>
        </div>
    </div>
</div>
