<div class="layout-footer">
    <!--<img [src]="'assets/layout/images/footer-' + (layoutService.config.colorScheme === 'light' ? 'avalon' : 'avalon-dark') + '.svg'" alt="avalon-footer-logo">-->
    <div class="container mx-auto flex items-center justify-start">
        <span class="font-bold text-xl">

        </span>
        <p class="text-white ml-4">© 2024 Digitrack. All rights reserved.</p>
    </div>
    <div class="flex gap-2">
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>
